ul.ancre li.lien {
  width: 50%;
  order: 1;
  border-bottom: solid 2px gray;
  border-top: solid 2px transparent;
  height: 40px;
  line-height: 40px;
  padding-left: 0;
  padding-right: 0;
}

ul.ancre li.lien {
  border-bottom: solid 2px white;
}

ul.ancre li.lien:active {
  border-bottom: solid 2px #0065fc;
}

.inscription {
  padding-left: 0;
  order: 0;
}

.box_logo {
  width: calc(100% - 120px);
}

main {
  padding: 0;
}

#texte_bouton {
  display: none;
}

.bouton_recherche i {
  display: block;
}

section#presentation section#populaires {
  width: 100%;
  height: auto;
  padding: 15px 0 15px 0;
  min-width: 0px;
}

section.chambre {
  max-width: 371;
  padding: 15px 15px 15px 15px;
  vertical-align: middle;
}
.block_texte {
  padding-right: 1em;
  padding-left: 1em;
}

div.les_plus_populaires {
  max-width: 100%;
}

section#hebergement {
  width: 100%;
  background-color: white;
}
.titre_hebergement {
  margin-top: 30px;
  margin-left: 15px;
  display: flex;
  justify-content: space-between;
}

div.marseille {
  width: calc(100% - 10px);
}
.images_marseille {
  width: calc(100% - 4px);
  padding-left: 2px;
  padding-right: 2px;
}

section ul#activites {
  display: grid;
  grid-template-areas:
    "image1"
    "image2"
    "image3"
    "image4"
    "image5"
    "image6";
  grid-auto-rows: 250px;
  grid-column-gap: 40px;
  width: 100%;
}

section.pied_de_pages {
  background-color: #f2f2f2;
  display: grid;
  grid-template-areas:
    "liste1"
    "liste2"
    "liste3";
  grid-column-gap: 40px;
}
