*
{
    font-family: "Raleway", sans-serif;
}
body
{
    margin: 3.5%;
    color: black;
}

header
{
    display: flex;
    justify-content: space-between;
}

.logo
{
    height: fit-content;
    margin-top: 30px;
    margin-bottom: 30px;
}

#block_flex
{
    display: flex;
    justify-content: flex-end;
    width: 485px;
    height: 100px;
}
.navigation
{
    display: flex;
    position: relative;
    width: 400px;
    display: flex;
    flex-direction: row;
}

.ancre
{
    display: flex;
    padding: 0;
    margin: auto;
    width: 320px;
}

.ancre li
{
    display: inline;
    margin: 0 auto;
} 

.ancre li a
{
    display: inline;
    font-size: 1.5em;
}

.inscription
{
    text-align: right;
    margin: auto;
    color: #0065FC;
    font-weight: bold;
    width: 110px;
    text-align: center;
    font-size: 1.5em;
}

#accroche
{
text-align: left;
font-size: 1.5em;
font-weight: bold;
}

#entete
{
    text-align:left;
    font-size: 1em;
    font-weight: lighter;
}
.barre
{
    max-width: 420px;
    height:50px;
    border-radius: 10px;
    display: flex;
}

.position
{
    background-color: #DEEBFF;
    width: 15%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    text-align: center;
    vertical-align: middle;
}

#icon
{
    align-items: center;
}

.champ
{
    width: 50%;
}

.bouton_recherche
{
    background-color: #0065FC;
    width: 50%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.bouton_filtres
{
    width: 195px;
    height: 50px;
    border-radius: 25px;
    margin: auto;
}

.img_bouton_filtres
{
    border-radius: 25px;
    height: 40px;
    width: 40px;
}

#presentation
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
#populaires
{
    width: 422px;
    height: 628px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: space-around;
    
}

.titre_populaires
{
    margin-top: 30px;
    margin-left: 35px;
    display: flex;
    justify-content: space-between;
}
.titre
{
    background-color: violet;
    font-size: 1em;
}

.chambre
{
    background-color: coral;
    width: auto;
    height: 85%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.les_plus_populaires
{
    background-color: white;
    width: 344px;
    height: 146px;
    margin: auto;
    border-radius: 25px;
}
.images_popu
{
    width: 128px;
    height: 136px;
    float: left;
    margin: auto;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
}

.texte_populaire
{
    font-size: 1.5em;
    font-weight: bold;
    margin: auto;
}

.prix
{
    font-size: 1em;
}

.notation
{
    margin-bottom: 10px;
}

#hebergement
{
    width: 880px;
    height: 628px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: space-around;
}

.titre_hebergement
{
    margin-top: 30px;
    margin-left: 35px;
    display: flex;
    justify-content: space-between;
}

.hotel
{
    width: auto;
    height: 85%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 880px;
}

.marseille
{
    background-color: white;
    width: 246px;
    height: 198px;
    margin: auto;
    border-radius: 25px;
}

.img_marseille
{
    justify-content: center;
    width: 239px;
    height: 115px;
    background-color: black;
}

.images_marseille
{
    width: 238px;
    height: 114px;
    margin: auto;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

