ul.ancre li.lien {
  width: 50%;
  order: 1;
  border-bottom: solid 2px gray;
  border-top: solid 2px transparent;
  height: 40px;
  line-height: 40px;
  padding-left: 0;
  padding-right: 0;
}

ul.ancre li.lien {
  border-bottom: solid 2px #0065fc;
}

.inscription {
  padding-left: 0;
  order: 0;
}

.box_logo {
  width: calc(100% - 120px);
}

main {
  padding: 0;
}

#texte_bouton {
  display: none;
}

.bouton_recherche i {
  display: block;
}

section#presentation section#populaires {
  width: 100%;
  height: auto;
  padding: 15px 0 15px 0;
}

section.chambre {
  max-width: 371;
  padding: 15px 0 15px 0;
  vertical-align: middle;
}
.block_texte {
  padding-right: 1em;
  padding-left: 1em;
}

div.les_plus_populaires {
  max-width: 100%;
}

section#hebergement {
  width: 100%;
  background-color: white;
}

section ul#activites {
  display: grid;
  grid-template-areas:
    "image1"
    "image2"
    "image3"
    "image4"
    "image5"
    "image6";
  grid-auto-rows: 165px;
  grid-column-gap: 40px;
  width: 100%;
}
