*
{
    font-family: "Raleway", sans-serif;
}
body
{
    margin: 3.5%;
    color: black;
}

header
{
    display: flex;
    justify-content: space-between;
}
.logo
{
    height: fit-content;
}

#block_flex
{
    display: flex;
    justify-content: flex-end;
    background-color: cadetblue;
}
.navigation
{
    display: flex;
    position: relative;
    width: 400px;
    display: flex;
    flex-direction: row;
}

.ancre
{
    display: flex;
    padding: 0;
    margin: auto;
    width: 150px;
}

.ancre li
{
    display: inline;
    margin: 0 auto;
    margin-left: 30%;
} 

.ancre li a
{
    display: inline;
}

.inscription
{
    text-align: right;
    margin: auto;
    color: #0065FC;
    font-weight: bold;
}

#accroche
{
text-align: left;
font-size: 2ex;
font-weight: bold;
}

#entete
{
    text-align:left;
    font-size: 1.5ex;
    font-weight: lighter;
}
.barre
{
    background-color: chocolate;
    max-width: 420px;
    height:50px;
    border-radius: 10px;
    display: flex;
}

.position
{
    background-color: #DEEBFF;
    width: 15%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.champ
{
    background-color: darkgreen;
    width: 50%;
}

.bouton_recherche
{
    background-color: #0065FC;
    width: 50%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}